<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Detail</title>
</head>
<body>
    <h1>Book Detail</h1>
    <p>Title: {{ book.title }}</p>
    <p>Author: {{ book.author }}</p>
    <p>Publication Date: {{ book.publication_date }}</p>
    <a href="{% url 'book_update' book.pk %}">Edit</a>
    <form action="{% url 'book_delete' book.pk %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
    <a href="{% url 'book_list' %}">Back to List</a>
</body>
</html>
